/* we did not move rest of the css coz they have been used in multiple components */
/* giving complete 100 width of div container parent container to input element  */

input {
  width: 100%;
}

/* add class to the row to align them nicely*/
.kg-row {
  margin: 10px 5px;
}
/* add class to the buttons to have them same style */
.kg-button {
  min-width: 80px;
}
.container {
  text-align: left;
}
.todo-container {
  border: 2px solid black;
  width: 600px;
  margin: auto;
}
